
  
  .carousel-item img {

      max-height: 500px;

  }
.carousel-item h5, p {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.homepagetext h1, p {
    text-align: center;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
.homepagetext {
    padding:10px;
}
.homepagetext h1 {
    color: #AA336A;

}
.footer {
    color: #89D5D2;
}
.row featurette h2, p, td{
    padding: 10px;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
.featurette-heading {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    color: #AA336A;
}
.row p, h6 {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
.form-row {
    padding: 100 px;
}